PORT=8000
FIXTURE_MODE=false
DB_PATH=./data/mataelang.sqlite
RETENTION_DAYS=90
USGS_FEED=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson
GDELT_LASTUPDATE_URL=http://data.gdeltproject.org/gdeltv2/lastupdate.txt
GDELT_MIN_GOLDSTEIN=-3
GDELT_MAX_EVENTS=400
